.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

    .logo {
    font-size: 32px;
    color: $color-fuentes;
    text-decoration: none;
    font-weight: 700;}

.navbar {
    display: flex;
    gap: 40px;

    a {
    font-size: 18px;
    color: #2b2613;
    font-weight: 500;
    text-decoration: none;
    }}